<div th:fragment="nav">
    <header class="bg-light py-3 mb-4">
        <div class="container d-flex justify-content-between">
            <div>
                <nav class="d-inline-block ms-3">
                    <a class="navbar-brand d-flex align-items-center" th:href="@{/}">
                        <img th:src="@{/favicon.svg}" alt="Inventory Logo" width="32" height="32" class="me-2">
                        <span class="fs-3 fw-bold">Inventory</span>
                    </a>
                    <div class="mt-3">
                        <a class="me-3" th:href="@{/products}">Products</a>
                        <a class="me-3" th:href="@{/alerts/low-stock}">Low Stock Alert</a>
                    </div>
                </nav>
            </div>
            <!-- Profile and Logout buttons -->
            <div sec:authorize="isAuthenticated()">
                <a th:href="@{/profile}" class="btn btn-sm btn-info me-2">My Profile</a>
                <form th:action="@{/logout}" method="post" class="d-inline-block float-end">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                    <button type="submit" class="btn btn-sm btn-outline-danger">Logout</button>
                </form>
            </div>
        </div>
    </header>
</div>
